.box{
    position: relative;
}
.cover{
    position:absolute;
    transition: height .1s;
    background-color: turquoise;
    width:100%;
    height:100%;
    z-index: 1;
}
.hello{
    position: absolute;
    z-index: 0;
    bottom:0;
    height:50%;
}
.cover:hover{
    
    transition: height 1s;
    height:50%;
}
.reklama{
    
    object-fit: contain;
    height:100%;
    width:100%;
}
.title{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4em;
}
.center{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.rick a{
    
    font-size: 1.6em;
    transition: all 1s;
}
/* unvisited link */
.rick a:link {
    color: rgb(0, 0, 0);
    font-weight: normal;
    text-decoration: none;
}
  
  /* visited link */
  .rick a:visited {
    color: rgb(0, 0, 0);
    font-weight: normal;
    text-decoration: none;
}
  
  /* mouse over link */
  .rick a:hover {
    color: rgb(77, 2, 2);
    font-weight: normal;
    text-decoration: none;
    font-size: 2.6em;
}
  
  /* selected link */
.rick a:active {
    color: blue;
    font-weight: normal;
    text-decoration: none;
}